.character {
    position: absolute;
    left: 0px;
    top: 0px;

    /* foreground layer (100-999) */
    z-index: 100;
}

.character.North:after, .character.West:after, .character.South:after, .character.East:after {
    content: '>';
    display: inline-block;
    position: absolute;
    line-height: 1; /* Adjust as needed */
}

.character.North:after {
    transform: rotate(-90deg) translateX(-50%);
    bottom: 100%;
    left: 50%;
    margin-bottom: 10px; /* Adjust as needed */
}

.character.South:after {
    transform: rotate(90deg) translateX(-50%);
    top: 100%;
    left: 50%;
    margin-top: 10px; /* Adjust as needed */
}

.character.West:after {
    transform: rotate(180deg) translateY(-50%);
    right: 100%;
    top: 50%;
    margin-right: 10px; /* Adjust as needed */
}

.character.East:after {
    transform: translateY(-50%);
    left: 100%;
    top: 50%;
    margin-left: 10px; /* Adjust as needed */
}
