@import url('../engine/css/main.css');
@import url('./character.css');
@import url('./ui.css');

body {    
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* This isn't applying because the casing is different.
    was that intentional ...? */
#playField {
    
    width: 100%;
    height: 99%;
    overflow: auto;
}

.targeted:after {
    content: 'x';
    position: absolute;
    left: 30%;
    top: 0;
}

.chunk {

    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;

    /* foreground layer (100-999) */
    z-index: 100;
}

.chunk:after {

    content: 'chunk corner';
}
