@import url('../engine/css/main.css');
@import url('./character.css');
@import url('./ui.css');

body {    
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#playField {
    
    width: 100%;
    height: 99%;
    overflow: auto;
}

.targeted:after {
    content: 'x';
    position: absolute;
    left: 30%;
    top: 0;
}
