@import url('./character.css');
@import url('./ui/menu.css');
@import url('./ui/ui.css');

/* UI Color variables? */

body {
    background-color: #555;
}

canvas {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}
