#ui-container-parent {

    width: 99%;
    height: 99%;

    position: absolute;
    left: 0;
    top: 0;
}

#ui-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.ui {
    text-align: center;
}

.ui.bottom {
    width: 100%;
    max-width: 99%;
    left: 0px;
    border: none;
    margin-bottom: -1px;
    bottom:0px;
    position: absolute;
}
