:root {
    --ui-opacity: .85;
    --main-bg-color-rgba: rgba(206, 189, 154, var(--ui-opacity));
}

#ui-container-parent {

    width: 99%;
    height: 99%;

    position: absolute;
    left: 0;
    top: 0;
}

#ui-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.ui {
    text-align: center;
}

/* TODO: not this stupid fix */
#CombatLog {
    max-width: 34%;
}

#CombatLog h3 {
    margin: 0;
}

#objective-progress {
    border: 2px solid black;
    font-weight: bold;
    font-size: 1.2em;
    padding: 4px 8px;
    border-radius: 4px;
}

/*
.ui.bottom {
    width: 100%;
    max-width: 99%;
    left: 0px;
    border: none;
    margin-bottom: -1px;
    bottom:0px;
    position: absolute;
}
*/

.ui.cooldown {
    text-decoration: line-through;
}
