@import url('./tooltip.css');

:root {
    --ui-opacity: 0.8;
}

#ui-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui {
    /* ui layer: 1000-9999 */
    z-index: 1000;
    display: inline-flex;

    color: rgb(200, 200, 200);
    background-color: rgba(0, 0, 0, var(--ui-opacity));
}

.ui.top {
    top: 0px;
}

.ui.bottom {
    bottom: 0px;
    align-self: flex-end;
}

.ui.left {
    left: 0px;
}

.ui.right {
    right: 0px;
}

.ui.middle {    
    /* align-self: center; */
}

.ui.bottom.middle {
    position: absolute;
    bottom: 5px;                
    left: 50%;                  
    transform: translateX(-50%);
}