@import url('./tooltip.css');

:root {
    --ui-opacity: 0.8;
}

#ui-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ui {
    /* ui layer: 1000-9999 */
    z-index: 1000;
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;

    color: rgb(186, 186, 186);
    background-color: rgba(50, 50, 50, var(--ui-opacity));
}

.ui > * {
    padding: .25em;
}

.ui.top {
    top: 0px;
}

.ui.bottom {
    bottom: 0px;
    align-self: flex-end;
}

.ui.left {
    left: 0px;
}

.ui.right {
    right: 0px;
}

.ui.center {    
    /* align-self: center; */
}

.ui.bottom.center {
    position: absolute;
    bottom: 5px;                
    left: 50%;                  
    transform: translateX(-50%);
}

.ui.top.right {
    position: absolute;
    top: 5px;                
    right: 5px;
}

.ui.middle.right {
    position: absolute;        
    top: 50%;                  
    transform: translateY(-50%);
}

.ui.bottom.left {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.ui.h3 {
    padding: 0 .4em;
}

.selected {
    border: 1px solid white;
}

.ui.Resource {
    text-transform: capitalize;
    font-size: 1.3em;
}

.ui.menu {    
    border: 1px dashed black;

    display: flex;
    flex-flow: row wrap;
}

.ui.menu > * {
  flex: 1 100%;
}
  
.ui.menu div { 
    flex: 3 29%;
}

.ui.menu.vertical div {
    flex: 1 100%;
}

.collapse-handler {
    position: absolute;
    right: 2px;
    top: 2px;
}

.collapse-handler:after {
    content: '-';
}

.collapse > div {
    display: none;
}
